# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# # Database — local only, do not commit
# backend/ecogacha.db

# # AI model — large file, share via Google Drive or GitHub Releases
# ai_model/rise_ai_model.pth

# VS Code
.vscode/

# macOS
.DS_Store

# Env files
.env
*.env

